APP_ENV=local
APP_DEBUG=false
APP_KEY=EncryptKey

DB_HOST=localhost
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_EXTDB=1

NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=

RCON_INIT=false
RCON_IP=
RCON_PORT=
RCON_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=false
MAIL_FROM_EMAIL=null

SITE_NAME=
DESCRIPTION
TEAMSPEAK_IP=

ARMA_IP=
ARMA_PORT

MONEY_WARNING=2500000
MONEY_DANGER=5000000

LINK_STEAM=
LINK_TWITCH=
LINK_FACEBOOK=
LINK_GAMETRACKER=