.stream__title{
    font-size:20px;
    text-transform: capitalize;
}

.stream__hr{
    border-color:#FBB040;
    margin-top:5px;
    margin-bottom:5px
}

.stream__content {
    margin-left: 20px;
}

.stream__action{
    margin-left: 55%;
}

.stream__chat{
    margin-left: 100px;
}

.stream__content_indiv{
    margin-top: 25px;
}

.post__action{
    display: inline-block;
}

.donatorlvl{
    font-size: 18px;
    font-family: Roboto, arial, sans-serif;
}